// fonts
@import url("https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&family=Sansita+Swashed:wght@300..900&display=swap");
$fontMainLexendZetta: "Lexend Zetta", sans-serif;
$fontSansitaSwashed: "Sansita Swashed", system-ui;

// variables
$backgroundMainColor: #12372a;
$colorLightGreen: #adbc9f;
$colorLight: #fbfada;
$colorWhite: #ffffff;
