@import url("https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&family=Sansita+Swashed:wght@300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #12372a;
}

.header .container,
.footer .container {
  min-height: 80px;
  flex-shrink: 0;
}

.main {
  min-height: 500px;
  flex-grow: 1;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 200px;
}
@media (min-width: 1600px) {
  .header .container {
    flex-direction: row;
  }
}
.header .container .logo {
  margin-bottom: 15px;
  padding: 5px;
  text-decoration: none;
  color: #fbfada;
  font-family: "Lexend Zetta", sans-serif;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 25px;
}
@media (min-width: 768px) {
  .header .container .logo {
    font-size: 50px;
  }
}
@media (min-width: 768px) {
  .header .container .logo {
    margin-bottom: 30px;
  }
}
@media (min-width: 1600px) {
  .header .container .logo {
    margin-bottom: 0;
  }
}
.header .container .anchor {
  padding: 5px;
  font-family: "Lexend Zetta", sans-serif;
  color: #fbfada;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 12px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .header .container .anchor {
    font-size: 25px;
  }
}

.main .container .sloganWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 200px;
}
@media (min-width: 1600px) {
  .main .container .sloganWrap {
    flex-direction: row;
  }
}
.main .container .sloganWrap .slogan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  color: #fbfada;
  font-family: "Lexend Zetta", sans-serif;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 45px;
  margin-bottom: 40px;
}
@media (min-width: 1600px) {
  .main .container .sloganWrap .slogan {
    font-size: 80px;
  }
}
@media (min-width: 1600px) {
  .main .container .sloganWrap .slogan {
    font-size: 100px;
  }
}
.main .container .sloganWrap .slogan div:first-child {
  color: #adbc9f;
  font-size: 20px;
}
@media (min-width: 768px) {
  .main .container .sloganWrap .slogan div:first-child {
    font-size: 40px;
  }
}
@media (min-width: 1600px) {
  .main .container .sloganWrap .slogan div:first-child {
    font-size: 50px;
  }
}
.main .container .sloganWrap .slogan div:last-child {
  color: #adbc9f;
  font-size: 10px;
}
@media (min-width: 768px) {
  .main .container .sloganWrap .slogan div:last-child {
    font-size: 20px;
  }
}
.main .container .sloganWrap .burgerImg {
  display: block;
  width: 100%;
}
.main .section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fbfada;
  text-transform: uppercase;
  font-family: "Lexend Zetta", sans-serif;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 20px;
  margin-bottom: 100px;
}
.main .menuItemsWrap {
  display: grid;
  gap: 30px;
}
@media (min-width: 768px) {
  .main .menuItemsWrap {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}
@media (min-width: 1600px) {
  .main .menuItemsWrap {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
}
.main .menuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .main .menuItem {
    flex-direction: row;
    align-items: flex-start;
  }
}
.main .menuItem .photo {
  display: block;
  width: 40%;
  height: 150px;
  border: 5px solid #adbc9f;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .main .menuItem .photo {
    width: 20%;
  }
}
.main .menuItem .itemInfo {
  width: 80%;
  padding-left: 15px;
}
.main .menuItem .itemInfo header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 15px auto;
}
@media (min-width: 768px) {
  .main .menuItem .itemInfo header {
    margin-top: 0;
    flex-direction: row;
    align-items: flex-start;
  }
}
.main .menuItem .itemInfo header .price {
  color: #ffffff;
}
.main .menuItem .itemInfo .itemText {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
@media (min-width: 768px) {
  .main .menuItem .itemInfo .itemText {
    text-align: start;
  }
}

.underline {
  width: 20%;
  height: 3px;
  background-color: #adbc9f;
  margin: 20px auto 50px;
}

.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  color: #fbfada;
  padding: 5px;
}
@media (min-width: 1600px) {
  .footer .container {
    flex-direction: row;
  }
}
.footer .container .copyInfo {
  padding: 5px;
  font-family: "Lexend Zetta", sans-serif;
  color: #fbfada;
  font-size: 10px;
}
.footer .container .socialsWrap a {
  color: #fbfada;
  text-decoration: none;
  padding: 5px;
}
.footer .container .socialsWrap a i {
  transition-duration: 0.5s;
}
.footer .container .socialsWrap a i:hover {
  transform: scale(1.3, 1.3);
}
.footer .container .socialsWrap a:not(:last-child) {
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
